<?xml version="1.0"?>
<!--
/**
 * Copyright © OpenGento, All rights reserved.
 * See LICENSE bundled with this library for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="opengento_webapi_logs_entity_data_source" xsi:type="string">Opengento\WebapiLogger\Model\ResourceModel\Logs\Grid\Collection\Virtual</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Opengento\WebapiLogger\Model\ResourceModel\Logs\Grid\Collection\Virtual" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">webapi_logs</argument>
            <argument name="resourceModel" xsi:type="string">Opengento\WebapiLogger\Model\ResourceModel\LogResourceModel</argument>
        </arguments>
    </virtualType>
</config>
