<?xml version="1.0"?>
<!--
/**
 * Copyright © OpenGento, All rights reserved.
 * See LICENSE bundled with this library for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Opengento_WebapiLogger::reports"
             title="Webapi Logs"
             translate="title"
             module="Opengento_WebapiLogger"
             sortOrder="5"
             parent="Magento_Reports::report"
             resource="Opengento_WebapiLogger::reports" />
        <add id="Opengento_WebapiLogger::reports_activity"
             title="Show Logs"
             translate="title"
             module="Opengento_WebapiLogger"
             sortOrder="10"
             parent="Opengento_WebapiLogger::reports"
             action="webapi_logs/reports/index"
             resource="Opengento_WebapiLogger::reports_webapilogs" />
    </menu>
</config>

